[submodule "pack/my-packages/start/vim-surround"]
	path = pack/my-packages/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/my-packages/start/vim-fugitive"]
	path = pack/my-packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/my-packages/start/vim-go"]
	path = pack/my-packages/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/my-packages/start/vim-colors-solarized"]
	path = pack/my-packages/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/my-packages/start/jedi-vim"]
	path = pack/my-packages/start/jedi-vim
	url = http://github.com/davidhalter/jedi-vim.git
[submodule "pack/my-packages/start/vim-gitgutter"]
	path = pack/my-packages/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/my-packages/start/ctrlp.vim"]
	path = pack/my-packages/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
