[submodule "pack/my-packages/start/vim-surround"]
	path = pack/my-packages/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/my-packages/start/vim-fugitive"]
	path = pack/my-packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "pack/my-packages/start/vim-go"]
	path = pack/my-packages/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/my-packages/start/vim-colors-solarized"]
	path = pack/my-packages/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
